* {
    margin: 0;
    padding: 0;
    font-family: "Oswald";
}

body {
    letter-spacing: 3px;
}

#bannerImage {
    height: 400px;
    background-image: url('https://i.pinimg.com/originals/69/6d/64/696d64ddc9a95153feec89eae2be5606.jpg');
    background-size:cover; 
    background-position: center center;
  }

@media (min-width: 992px) {
  #bannerImage {
    height: 600px;
  }
}

#contentContainer{
  background-color: #272727;
}